@tailwind base;
@tailwind components;
@tailwind utilities;

.right-header {
}

.headerImage {
  mask-image: url(../app/assets/headerCiricle.png);
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-type: luminance;
  background-size: cover;
  background-blend-mode: screen;
  mask-mode: luminance;
}

/* .headerCircle {
    
}

.left-header {
 
} */

.purple1 {
  mask-image: url(../app/assets/purple-lens-flare.png);
  mask-repeat: no-repeat;
  mask-type: luminance;
  mask-size: 850px;
  position: absolute;
  border-radius: 100%;
}

.left-guideline-lens {
  mask-image: url(../app/assets/purple-lens-flare.png);
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-type: luminance;
  background-size: cover;
  background-blend-mode: overlay;
  mask-mode: luminance;
}

.trophy-lens {
  background-image: url(../app/assets/purple-lens-flare.png);
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-type: luminance;
  background-size: cover;
  background-blend-mode: overlay;
  mask-mode: luminance;
  border-radius: 100%;
  mask-image: url(../app/assets/purple-lens-flare.png);
}

.glass {
  background: rgb(211, 52, 251);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}

@media (width <= 769px) {
  .glass {
    background: none;
  }
}

.contactflare {
  background-image: url(../app/assets/purple-lens-flare.png);
  mask-size: 750px;
  width: 500px;
  height: 500px;
  mask-repeat: no-repeat;
  background-size: cover;
  mask-mode: luminance;
  border-radius: 50%;
  mask-image: url(../app/assets/purple-lens-flare.png);
  mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
}
